.container {
  display: flex;
  align-items: center;
  margin: 0px 2rem;
  border-bottom: 1px solid gray;
  margin-top: 2rem;
}

.container img {
  width: 150px;
  height: 112.5px;
  border-radius: 5px;
  border: none;
}

.trash {
  border: 1px solid #707b8e;
  padding: 5px;
  width: fit-content;
  margin: 10px auto;
  cursor: pointer;
}

.trashIcon {
  color: #103755;
  transition: color 300ms ease;
}

.trashIcon:hover {
  color: #b3b300cb;
}

.description {
  margin-left: 2rem;
  margin-top: -4rem;
  width: 100%;
}

.description .title {
  color: #707b8e;
  font-size: 1rem;
  font-weight: 600;
}

.actions span:first-child {
  color: #707b8e;
}

.actions button {
  background: none;
  border: 1px solid #d0d0d0;
  width: 32px;
  height: 32px;
  font-size: 1.3rem;
  color: #707b8e;
  transition: border 300ms ease;
  font-weight: 700;
  cursor: pointer;
}

.actions button:hover {
  border-color: #838383;
}

.actions span:last-of-type {
  margin: 0px 1rem;
  font-size: 1.2rem;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #838383;
}

.subTotal {
  color: #103755;
  font-weight: 700;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .container div:first-child{
    width: 100%;
  }

  .container img {
    width: 100%;
    height: 150px;
  } 

  .description {
    margin-top: .1rem;
    margin-left: -5px;
  }

  

}
