.container {
  padding: 1rem;
  box-shadow: #c1c1c1 0px 0px 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container img {
  width: 100%;
  border-radius: 5px;
}

.details h2 {
  font-size: 16px;
  color: #9a9a9a;
  display: block;
}

.details p {
  font-size: 1.5rem;
  color: #103755;
  font-weight: 700;
}

.container button {
  background-color: #103755;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: background 200ms ease;
  margin: 0px 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions span {
  color: #175483;
  font-weight: 700;
}

.container button:hover {
  background-color: #175483;
}
